# Ignore these files and folders
results/Models/LGBM/shap_interaction_values.pkl

# Ignore hidden files and folders
.*

# and Python cache
__pycache__

## except for certain file types
!.gitignore
!.gitkeep
!*.yml

